/*Header com a letra do Streamlit*/
.e1g8pov61{
    visibility:hidden;
}


.css-1dp5vir {

    height: 0.125rem;
    background-image: linear-gradient(90deg, rgb(75, 255, 78), rgb(255, 253, 128));
    z-index: 999990;
  }



  /*
  
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    */

/*
    .esravye0{
        border-radius: 5px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
        margin-top: 2%;
        width: 20%;
        padding: 5%;
        right: 20%;
    }
*/
    .st-ae st-af st-ag st-ah st-ai st-aj st-c5 st-bp st-b8{
        background-color: aqua;
    }